# **Setup**

In [53]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

from ucimlrepo import fetch_ucirepo

# **Data Import - CSV**

In [54]:
df = pd.read_excel("Online Retail.xlsx")

print(df.shape)
df.head()

(541909, 8)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

# **Data Import - UCI**

* UCI Dataset Link
https://archive.ics.uci.edu/dataset/352/online+retail

In [55]:
# fetch dataset 
online_retail = fetch_ucirepo(id=352) 
  
# data (as pandas dataframes) 
X = online_retail.data.features 
y = online_retail.data.targets 
  
# metadata 
print(online_retail.metadata) 
print('\n')

# variable information 
online_retail.variables

{'uci_id': 352, 'name': 'Online Retail', 'repository_url': 'https://archive.ics.uci.edu/dataset/352/online+retail', 'data_url': 'https://archive.ics.uci.edu/static/public/352/data.csv', 'abstract': 'This is a transnational data set which contains all the transactions occurring between 01/12/2010 and 09/12/2011 for a UK-based and registered non-store online retail.', 'area': 'Business', 'tasks': ['Classification', 'Clustering'], 'characteristics': ['Multivariate', 'Sequential', 'Time-Series'], 'num_instances': 541909, 'num_features': 6, 'feature_types': ['Integer', 'Real'], 'demographics': [], 'target_col': None, 'index_col': ['InvoiceNo', 'StockCode'], 'has_missing_values': 'no', 'missing_values_symbol': None, 'year_of_dataset_creation': 2015, 'last_updated': 'Fri Jan 05 2024', 'dataset_doi': '10.24432/C5BW33', 'creators': ['Daqing Chen'], 'intro_paper': {'title': 'Data mining for the online retail industry: A case study of RFM model-based customer segmentation using data mining', 'authors': 'Daqing Chen, Sai Laing Sain, Kun Guo', 'published_in': 'Journal of Database Marketing and Customer Strategy Management, Vol. 19, No. 3', 'year': 2012, 'url': 'https://www.semanticscholar.org/paper/e43a5a90fa33d419df42e485099f8f08badf2149', 'doi': '10.1057/dbm.2012.17'}, 'additional_info': {'summary': 'This is a transnational data set which contains all the transactions occurring between 01/12/2010 and 09/12/2011 for a UK-based and registered non-store online retail.The company mainly sells unique all-occasion gifts. Many customers of the company are wholesalers.', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': "InvoiceNo: Invoice number. Nominal, a 6-digit integral number uniquely assigned to each transaction. If this code starts with letter 'c', it indicates a cancellation. \nStockCode: Product (item) code. Nominal, a 5-digit integral number uniquely assigned to each distinct product.\nDescription: Product (item) name. Nominal.\nQuantity: The quantities of each product (item) per transaction. Numeric.\t\nInvoiceDate: Invoice Date and time. Numeric, the day and time when each transaction was generated.\nUnitPrice: Unit price. Numeric, Product price per unit in sterling.\nCustomerID: Customer number. Nominal, a 5-digit integral number uniquely assigned to each customer.\nCountry: Country name. Nominal, the name of the country where each customer resides. ", 'citation': None}}

,name,role,type,demographic,description,units,missing_values
0,InvoiceNo,ID,Categorical,None,a 6-digit integral number uniquely assigned to...,None,no
1,StockCode,ID,Categorical,None,a 5-digit integral number uniquely assigned to...,None,no
2,Description,Feature,Categorical,None,product name,None,no
3,Quantity,Feature,Integer,None,the quantities of each product (item) per tran...,None,no
4,InvoiceDate,Feature,Date,None,the day and time when each transaction was gen...,None,no
5,UnitPrice,Feature,Continuous,None,product price per unit,sterling,no
6,CustomerID,Feature,Categorical,None,a 5-digit integral number uniquely assigned to...,None,no
7,Country,Feature,Categorical,None,the name of the country where each customer re...,None,no

In [56]:
online_retail.keys()

dict_keys(['data', 'metadata', 'variables'])

In [57]:
print(type(online_retail['data']))

online_retail['data']

<class 'ucimlrepo.dotdict.dotdict'>

{'ids':        InvoiceNo StockCode
 0         536365    85123A
 1         536365     71053
 2         536365    84406B
 3         536365    84029G
 4         536365    84029E
 ...          ...       ...
 541904    581587     22613
 541905    581587     22899
 541906    581587     23254
 541907    581587     23255
 541908    581587     22138

 [541909 rows x 2 columns],
 'features':                                 Description  Quantity      InvoiceDate  \
 0        WHITE HANGING HEART T-LIGHT HOLDER         6   12/1/2010 8:26
 1                       WHITE METAL LANTERN         6   12/1/2010 8:26
 2            CREAM CUPID HEARTS COAT HANGER         8   12/1/2010 8:26
 3       KNITTED UNION FLAG HOT WATER BOTTLE         6   12/1/2010 8:26
 4            RED WOOLLY HOTTIE WHITE HEART.         6   12/1/2010 8:26
 ...                                     ...       ...              ...
 541904          PACK OF 20 SPACEBOY NAPKINS        12  12/9/2011 12:50
 541905         CHILDREN'S APRON DOLLY GIRL          6  12/9/2011 12:50
 541906        CHILDRENS CUTLERY DOLLY GIRL          4  12/9/2011 12:50
 541907      CHILDRENS CUTLERY CIRCUS PARADE         4  12/9/2011 12:50
 541908        BAKING SET 9 PIECE RETROSPOT          3  12/9/2011 12:50

         UnitPrice  CustomerID         Country
 0            2.55     17850.0  United Kingdom
 1            3.39     17850.0  United Kingdom
 2            2.75     17850.0  United Kingdom
 3            3.39     17850.0  United Kingdom
 4            3.39     17850.0  United Kingdom
 ...           ...         ...             ...
 541904       0.85     12680.0          France
 541905       2.10     12680.0          France
 541906       4.15     12680.0          France
 541907       4.15     12680.0          France
 541908       4.95     12680.0          France

 [541909 rows x 6 columns],
 'targets': None,
 'original':        InvoiceNo StockCode                          Description  Quantity  \
 0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
 1         536365     71053                  WHITE METAL LANTERN         6
 2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
 3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
 4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
 ...          ...       ...                                  ...       ...
 541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
 541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
 541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
 541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
 541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

             InvoiceDate  UnitPrice  CustomerID         Country
 0        12/1/2010 8:26       2.55     17850.0  United Kingdom
 1        12/1/2010 8:26       3.39     17850.0  United Kingdom
 2        12/1/2010 8:26       2.75     17850.0  United Kingdom
 3        12/1/2010 8:26       3.39     17850.0  United Kingdom
 4        12/1/2010 8:26       3.39     17850.0  United Kingdom
 ...                 ...        ...         ...             ...
 541904  12/9/2011 12:50       0.85     12680.0          France
 541905  12/9/2011 12:50       2.10     12680.0          France
 541906  12/9/2011 12:50       4.15     12680.0          France
 541907  12/9/2011 12:50       4.15     12680.0          France
 541908  12/9/2011 12:50       4.95     12680.0          France

 [541909 rows x 8 columns],
 'headers': Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
        'UnitPrice', 'CustomerID', 'Country'],
       dtype='object')}

In [58]:
online_retail['data']['ids'].head()

  InvoiceNo StockCode
0    536365    85123A
1    536365     71053
2    536365    84406B
3    536365    84029G
4    536365    84029E

In [59]:
online_retail['data']['features'].head()

,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [93]:
df = pd.merge(online_retail['data']['ids'],online_retail['data']['features'],
              left_index=True, right_index=True)

print(df.shape)
df.head()

(541909, 8)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

# **Data Exploration**

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [95]:
df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [96]:
df.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

# **Data Cleaning**

In [97]:
df.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [98]:
print('Dataframe Shape Before: ',df.shape)

# Drop Missing Value in CustomerID Col
df.dropna(subset=['CustomerID'],inplace=True)
print('Dataframe Shape After: ',df.shape)

Dataframe Shape Before:  (541909, 8)
Dataframe Shape After:  (406829, 8)

In [99]:
df.isna().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

# **Data Processing**

## **Change CustomerID Dtype**

## **Change Datatime Format**

In [100]:
df['InvoiceDate'].head()

0    12/1/2010 8:26
1    12/1/2010 8:26
2    12/1/2010 8:26
3    12/1/2010 8:26
4    12/1/2010 8:26
Name: InvoiceDate, dtype: object

In [101]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 406829 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    406829 non-null  object
 1   StockCode    406829 non-null  object
 2   Description  406829 non-null  object
 3   Quantity     406829 non-null  int64
 4   InvoiceDate  406829 non-null  datetime64[ns]
 5   UnitPrice    406829 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      406829 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 27.9+ MB

## **Add Invoice Year**

In [102]:
df['InvoiceYear'] = df['InvoiceDate'].dt.year

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 406829 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    406829 non-null  object
 1   StockCode    406829 non-null  object
 2   Description  406829 non-null  object
 3   Quantity     406829 non-null  int64
 4   InvoiceDate  406829 non-null  datetime64[ns]
 5   UnitPrice    406829 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      406829 non-null  object
 8   InvoiceYear  406829 non-null  int32
dtypes: datetime64[ns](1), float64(2), int32(1), int64(1), object(4)
memory usage: 29.5+ MB

## **Add Invoice Month**

In [103]:
df['InvoiceMonth'] = df['InvoiceDate'].apply(lambda x: x.strftime('%Y-%m-01'))

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 406829 entries, 0 to 541908
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   InvoiceNo     406829 non-null  object
 1   StockCode     406829 non-null  object
 2   Description   406829 non-null  object
 3   Quantity      406829 non-null  int64
 4   InvoiceDate   406829 non-null  datetime64[ns]
 5   UnitPrice     406829 non-null  float64
 6   CustomerID    406829 non-null  float64
 7   Country       406829 non-null  object
 8   InvoiceYear   406829 non-null  int32
 9   InvoiceMonth  406829 non-null  object
dtypes: datetime64[ns](1), float64(2), int32(1), int64(1), object(5)
memory usage: 32.6+ MB

In [104]:
df['InvoiceMonth'].head()

0    2010-12-01
1    2010-12-01
2    2010-12-01
3    2010-12-01
4    2010-12-01
Name: InvoiceMonth, dtype: object

## **Add Cohort Month**

* Cohort Month = Customer Acquisition Month

In [105]:
print('Dataframe Shape Before: ', df.shape)

df['CohortMonth'] = df.groupby(by='CustomerID')['InvoiceMonth'].transform("min")
print('Dataframe Shape After: ', df.shape)

Dataframe Shape Before:  (406829, 10)
Dataframe Shape After:  (406829, 11)

In [106]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,InvoiceYear,InvoiceMonth,CohortMonth
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,2010,2010-12-01,2010-12-01
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010,2010-12-01,2010-12-01
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,2010,2010-12-01,2010-12-01
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010,2010-12-01,2010-12-01
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010,2010-12-01,2010-12-01