# **Setup**

In [2]:
# install.packages("CLVTools")

In [3]:
library("CLVTools")

## **Data Import**

In [4]:
# Import Data
data("cdnow")

# View Data Dimensions
dim(cdnow)

# View Data Sample
head(cdnow,n=10)

[1] 6696    4

   Id   Date       CDs Price
1  1    1997-01-01 2   29.33
2  1    1997-01-18 2   29.73
3  1    1997-08-02 1   14.96
4  1    1997-12-12 2   26.48
5  10   1997-01-01 2   30.32
6  100  1997-01-05 1   16.99
7  100  1997-06-21 2   26.22
8  1000 1997-02-07 1    9.97
9  1000 1997-03-13 1   13.77
10 1000 1997-04-28 1   13.77

In [5]:
# Mean Price
mean(cdnow$Price)

[1] 36.4534