# **Setup**

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

import sklear

# **Data Import**

In [20]:
df = pd.read_table('CDNOW_master.txt',sep='\s+',encoding='UTF-8',
                   header=None,
                   names=['CustomerID','OrderDate','OrderQTY','OrderValue'])

print(df.shape)
df.head()

(69659, 4)

   CustomerID  OrderDate  OrderQTY  OrderValue
0           1   19970101         1       11.77
1           2   19970112         1       12.00
2           2   19970112         5       77.00
3           3   19970102         2       20.76
4           3   19970330         2       20.76